:root {
  --font-style: italic;
  --font-weight: bold;
  --line-height: var(--height)em;
  --font-family: 'Open Sans';
  --font: var(--font-style) var(--font-weight) 1em/var(--line-height) var(--font-family);
  --height: 1.6;
}

@font-face {
  font-family: var(--font-family);
  src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
       url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

body {
  font: var(--font);
}